# Auto detect text files and perform LF normalization
* text=auto

# Markdown files
*.md text eol=lf

# Source code
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

# Documentation
README.md text eol=lf
